* {
	border: none;
	background: rgba(28, 28, 28, 0.6);
	border-radius: 0;
	font-family: "monospace";
	font-size: 15;
	min-height: 0;
}

#waybar {
/*	background: rgba(48,48,59, 0);*/
	color: #ffffff;
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#workspaces {
	font-size: 8px;
/*	padding: 0 2px;*/
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 0px;
	padding-right: 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: rgba(28, 28, 28, 0.8);
}

#workspaces button {
	padding: 0 5px;
/*	background: rgba(28, 28, 28, 0.9);*/
	color: #b8b8b8;
/*	margin: 0 1px;*/
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;

}

#workspaces button.focused {
	padding: 0 5px;
	border-radius: 10;
/*	background: #00afd7;*/
	color: #8af0f0;
	margin: 0 0px;
}

#workspaces button.urgent {
	background: #af005f;
	color: #1b1d1e;
}

#mode {
	background: #af005f;
}

#clock, #custom-jalalidate, #custom-weather, #custom-disk_home, #custom-disk_root,#custom-wkblayout, #temperature, #cpu, #memory, #network, #backlight, #pulseaudio, #battery, #tray, #idle_inhibitor {
	padding: 0 3px;
/*	background-color: #000000; */
	background: rgba(28, 28, 28, 0.8);
/*	margin: 0 2px;*/
}

#clock {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#custom-disk_root {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#custom-weather {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#custom-jalalidate {
	margin-right: 8px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
	margin-left: 1px;
}

